body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

textarea {
    resize: none;
}

footer {
    font-size: 0.9rem;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
